# Ignore build directories
build-*/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Ignore compiled binaries and executables
*.exe
*.dll
*.so
*.o
*.a
*.lib
*.obj

# Ignore Qt Creator specific files
*.pro.user
*.pro.user.*

